:root {
  --contacts-color: #ffffff;
  --link-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --header-text-color: #757575;
  --header-text-color-link: #212121;
  --nav-text-color: #ffffff;
  --accent-color: #2196f3;
  --portfolio-text-color: #212121;
  --web-color: #2196f3;
  --studio-color: #000000;
}
body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--web-color);
}
.hidden-section {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--studio-color);
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color-link);
}
.header-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}
.portfolio-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--portfolio-text-color);
}
.portfolio-all {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--nav-text-color);
  background-color: var(--accent-color);
}
